/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0ebeb; /* Fondo celeste claro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0ebeb; /* Fondo celeste claro */
    border-radius: 8px;
}
/* Estilos para el título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Texto negro */
}

/* Estilos para etiquetas y campos de entrada */
.form-group {
    margin-bottom: 20px;
}

/* Estilos para etiquetas con asterisco */
.form-group label {
    font-weight: bold;
    color: #555; /* Texto gris oscuro */
    display: block; /* Hace que la etiqueta ocupe todo el ancho */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

/* Estilos para campos de entrada */
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para el contenedor de participantes */
#participantes-container {
    margin-bottom: 20px;
}

/* Estilos para la sección de participantes */
.participant-section {
    margin-top: 20px;
}

/* Estilos para los inputs de participantes */
.participant-section .form-group1 {
    margin-bottom: 15px;
}

/* Estilos para el botón "Añadir Participante" */
.add-participant {
    background-color: #f08080; /* Rojo claro */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el contenedor de botones */
.buttons {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para botones "Cancelar" y "Guardar" */
.btn {
    background-color: #87ceeb; /* Celeste */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos para el botón "Cancelar" */
.btn-cancelar {
    background-color: #d3d3d3; /* Gris claro */
}

/* Estilos para el mensaje de éxito */
.register p {
    color: #008000; /* Verde oscuro */
    font-weight: bold;
}
