
/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 20px auto; /* Agregado espacio alrededor del formulario */
    padding: 20px; /* Agregado espacio dentro del formulario */
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra con color negro */
    background: linear-gradient(to right, #3498db, #f0887c); /* Mezcla de celeste y rojo */
}

/* Estilos para el encabezado "Registro de Usuarios" */
form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: black; /* Color de texto más oscuro */
}


/* Estilos para etiquetas y campos de entrada */
.form-group {
    margin-bottom: 20px;
}

.buttons{
    text-align: center;
}

.selected{
    position: relative;
    margin-bottom: 20px;
    color:black;
}

/* Estilos para la clase .form-group1 (contenedor de etiqueta e input) */
.form-group1 {
    display: flex; /* Configura la visualización como flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 10px; /* Espacio entre cada .form-group */
}

/* Estilos para la etiqueta <label> */
.form-group1 label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    color: #555; /* Color de texto más oscuro */
}

span{
    font-size: 15px;
    color: red;
}

/* Estilos para el input */
.form-group1 input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


label {
    font-weight: bold;
}
form b {
    position: absolute;
    left: -8px; /* Ajusta la distancia desde el borde izquierdo según tu preferencia */
    top: 50%; /* Alinea verticalmente en el centro */
    transform: translateY(-50%); /* Alinea verticalmente en el centro */
    color: black; /* Puedes ajustar el color del asterisco */
  }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para el textarea */
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none; /* Evita que el usuario pueda cambiar el tamaño manualmente */
}


select{
    width: 108%;
    padding: 10px 70px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

option{
    padding: 0px;
}


/* Estilos para el botón de enviar y restablecer */
button[type="submit"],
[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1c0c75; /* Color de fondo más oscuro */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px; /* Espacio entre los botones */
}

button[type="submit"]:hover,
[type="reset"]:hover {
    background-color: #555; /* Cambio de color al pasar el ratón */
}

.organizador input {
    margin-bottom: 10px; /* Añadido un pequeño espacio entre los inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
 

